h1 {
  margin: 0 -.5em .6em;
  line-height: 1.25;
  font-weight: 900;
  letter-spacing: 2px;
  /*@include mq('desktop', 'min') {
    margin: 0 -170px .6em;
  }*/
}

h2 {
  margin-bottom: .5em;
  line-height: 1.25;
  font-weight: 600;
}