input[type='submit'] {
  width: auto;
  background: $white;
  border: 3px solid $primary;
  color: $primary;
  padding: .25em .5em;
  &:hover, &:focus {
    cursor: pointer;
    background-color: $secondary;
    color: $white;
  }
}
input[disabled] {
  color: $gray;
  cursor: default;
  background-color: $lightGray;
  &:hover, &:focus {
    color: $gray;
  }
}