a {
  text-decoration: none;
  color: $deepBlue;
  display: inline-block;
  position: relative;
  z-index: 2;
  background-color: $white;
  &:after {
    display: block;
    content: '';
    position: absolute;
    background-color: $pink;
    left: -.075em;
    bottom: 0.125em;
    height: 60%;
    width: 0;
    z-index: -1;
  }
  &:hover, &:focus {
    color: $black;
    &:after {
      width: 102%;
    }
  }
}