a {
  text-decoration: none;
  color: $primary;
  &:after {
    content: '';
    height: 2px;
    margin-top: -2px;
    margin-bottom: 2px;
    opacity: 0;
  }
  &:hover, &:focus {
    color: $secondary;
    &:after {
      margin-top: 2px;
      margin-bottom: -2px;
      opacity: 1;
    }
  }
}