*, body {
  font-size: 20px;
  font-weight: 100;
  @include mq('desktop-wide') {
    font-size: 18px;
  }
  @include mq('phone-wide') {
    font-size: 16px;
  }
}

h1 {
  font-size: 3.5em;
  @include mq('phone-wide') {
    font-size: 3em;
  }
}
h2 {
  font-size: 1.5em;
}