.hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  &:focus {
    height: auto;
    width: auto;
    clip: auto;
    left: 16px;
    top: 16px;
    padding: .75em 1.25em;
    background-color: $white;
  }
}

@each $name, $rule in $breakpoints {
  @media #{$rule} {
    .hidden\@#{$name} {
      display: none; //isn't accessible with a media querry
    }
  }
}